<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- fontaweson -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- bootstrap cdn -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- vuejs cdn -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <!-- custom css -->
    <link rel="stylesheet" href="css/style.css">

    <title>Simon Says</title>
</head>

<body>

    <main id="app">
        <div class="container">
            <div class="row">
                <div class="col-6 text-center p-5">
                    <h1>Testo "stampato" dal data di Vue:</h1>
                    <h1>{{message}}</h1>

                    <h1 class="mt-5">Immagine "stampata" dal data di Vue:</h1>
                    <img :src="immagine" alt="" class="img-fluid">
                </div>
                <div class="col-6 text-center p-5">
                    <h1>Inserisci del testo per modificare dinamicamente quello creato:</h1>
                    <input type="text" v-model="message" @click="pulisciTesto()">
                    
                    <h1 class="mt-5">Inserisci un URL di un immagine per modificare dinamicamente quello creato:</h1>
                    <input type="text" v-model="immagine" @click="pulisciImmagine()">

                </div>
            </div>
        </div>


    </main>

    <script src="js/script.js"></script>
</body>

</html>